*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    background-color: rgb(194, 173, 128);
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    width: 800px;
}

h1{
    background-color: black;
    color: aliceblue;
}
